.axis-section{
    width: 65%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.origin{
    border: 5px solid black;
    border-radius: 50%;
    position: absolute;
}

.axis{
    width: calc(65% - 20px);
    height: 0;

    position: absolute;
    border-bottom: 1px solid rgb(128, 128, 128, 70%);
}

.y-axis, .default-grid-as-y{
    width: calc(100vh - 70px);
    transform: rotate(90deg);
}

.default-grid{
    border-bottom: 2px solid rgb(0, 0, 0, 30%);
}

