.inputs-section{
    background: #715A5A;
    width: 35%;
    height: calc(100vh - 50px);

    padding-top: 20px;
    padding-left: 15px;
}

/* remove the up/down arrows in inputs with type=number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
input[type=number] { -moz-appearance:textfield; }


.twod-matrix{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;

    width: 100px;
    height: 79px;
}

.twod-matrix:before, .twod-matrix:after{
    content: '[';
    font-size: 70px;

    text-align: center;
    vertical-align: center;

    color: white;

    padding-bottom: 11px;
}

.twod-matrix:after{ content: ']' }

.twod-matrix input{
    background-color: transparent;
    color: white;

    border: 2px solid white;
    border-radius: 9%;

    width: 20px;
    height: 25px;

    text-align: center;
    vertical-align: center;
}

.twod-submit{ padding-top: 12px; }
.twod-animation-type,  .background-type{ padding-top: 35px; }

.twod-submit input{
    background: transparent;
    border: 2px solid purple;

    width: 140px;
    height: 30px;

    color: white;
}

.twod-submit input:hover{
    cursor: pointer;
}




