:root{
    --input-number-height: 30px;
    --input-number-gap: 5px;
}

.inputs-container{
    width: calc(100% - var(--axis-container-width));
    height: 100%;

    padding-top: 30px;
    padding-left: 10px;
    background-color: rgb(0, 0, 0, 80%);

    color: rgb(255, 255, 255, 80%);
}

form{
    width: 100%;
    height: 100%;
}

/* hide the up/down arrows in the number-input field */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
input[type=number] { -moz-appearance:textfield; }
/* hide the up/down arrows in the number-input field */


.twod-matrix-section{
    width: 100%;

    display: flex;
    height: calc( (var(--input-number-height)*3) + var(--input-number-gap) - 2px);

}

.twod-matrix-container::before{
    content: '[';
    font-size: 80px;
}

.twod-matrix-container::after{
    content: ']';
    font-size: 80px;
}

.twod-matrix-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--input-number-gap);

    justify-content: center;
    align-items: center;
}

.twod-matrix-container input{
    width: 50px;
    height: var(--input-number-height);

    background-color: rgb(0, 0, 0, 0%);

    color: white;
    font-weight: bold;

    text-align: center;

    border-radius: 10px;
    border: 2px solid white;

    font-size: 12px;
}

.twod-matrix-container input:hover{
    cursor: pointer;
}

.twod-matrix-section .text{
    display: flex;
    align-items: center;

    font-weight: bold;
}

.animation-section{ padding-top: 25px; }

.animation-section .text{ font-size: 22px; font-weight: bold; }

section.input{ padding-top: 30px; }

section.input input{
    background-color: transparent;

    border: 2px solid purple;
    padding: 6px 16px;

    color: white;

    font-weight: bold;
}

section.input input:hover{
    cursor: pointer;
}

