*{ margin: 0; padding: 0; box-sizing: border-box; }

.container{ width: 100%; height: 100vh; }

main{   
    width: 100%;
    height: 100%;

    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

}

