*{ margin: 0; padding: 0; box-sizing: border-box; }

.container{ width: 100%; height: 100vh; }

:root{
    --header-height: 40px;
    --axis-container-width: 65%;
}

header{
    width: 100%;
    height: var(--header-height);

    background-color: rgb(0,0,0,70%);

    color: white;
    font-size: 22px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}

main{   
    width: 100%;
    height: calc(100% - var(--header-height) );

    display: flex;
    gap: 10px;
}

